<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.com.WCZZ.mapper.ChoiceMapper">
<!--  <resultMap id="BaseResultMap" type="main.com.WCZZ.entity.Choice">
    <result column="stu_id" jdbcType="INTEGER" property="stuId" />
    <result column="cou_id" jdbcType="INTEGER" property="couId" />
    <result column="choose_time" jdbcType="DATE" property="chooseTime" />
    <result column="withdraw_time" jdbcType="DATE" property="withdrawTime" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>-->

  <insert id="add" parameterType="main.com.WCZZ.entity.Choice">
    INSERT INTO choice(
      stu_id,
      cou_name,
      choose_date,
      withdraw_date
      )
    VALUES (
      #{stuId},
      #{couName},
      #{chooseDate},
      #{withdrawDate}
    )
  </insert>
  
  <select id="queryByIdAndName" resultType="main.com.WCZZ.entity.Choice">
    SELECT 
      *
    FROM choice
    <where>
      del_flag != 0
      <if test="choiceId != null">
        AND choice_id  = #{choiceId}
      </if>
      <if test="stuId != null and stuId != ''">
        AND stu_id = #{stuId}
      </if>
      <if test="couName != null and couName != ''">
        AND cou_name LIKE CONCAT('%',#{couName},'%')
      </if>
    </where>
  </select>

  <select id="queryByStuId" resultType="main.com.WCZZ.entity.Choice">
    SELECT
      *
    FROM choice
    <where>
      del_flag != 0
      AND stu_id = #{stuId}
    </where>
  </select>

  <update id="choose" parameterType="main.com.WCZZ.entity.Choice">
    INSERT INTO choice(
      stu_id,
      cou_name,
      choose_date
    )
    VALUES (
      #{stuId},
      #{couName},
      #{chooseDate}
    )
  </update>
  
  <update id="withdraw" parameterType="main.com.WCZZ.entity.Choice">
    UPDATE choice
    SET
      withdraw_date = #{withdrawDate}
    WHERE
      del_flag != 0
      AND choice_id = #{choiceId}
  </update>


  <update id="delete">
    UPDATE choice
    SET
      del_flag = 0
    <where>
      choice_id = #{choiceId}
    </where>
  </update>
</mapper>