<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.com.WCZZ.mapper.ManagerMapper">

  <insert id="add" parameterType="main.com.WCZZ.entity.Manager">
    INSERT INTO manager(
    man_id,
    man_name,
    sex,
    job,
    phone,
    gra_name,
    create_date
    )
    VALUES(
    #{manId},
    #{manName},
    #{sex},
    #{job},
    #{phone},
    #{graName},
    #{createDate}
    )
  </insert>


  <select id="query" parameterType="main.com.WCZZ.entity.Manager" resultType="main.com.WCZZ.entity.Manager">
    SELECT
    *
    FROM manager
    <where>
      del_flag != 0
      <if test='manId != null and manId != ""'>
        AND man_id = #{manId}
      </if>
      <if test='manName != null and manName != ""'>
        AND man_name LIKE CONCAT('%',#{manName},'%')
      </if>
      <if test='graName != null and graName != ""'>
        AND gra_name LIKE CONCAT('%',#{graName},'%')
      </if>
    </where>
  </select>

  <update id="modifyPhone">
    UPDATE manager
    SET
    phone = #{phone}
    WHERE man_id = #{manId}
      AND del_flag != 0
  </update>

  <update id="modifyPassword" parameterType="main.com.WCZZ.entity.User">
    UPDATE user
    SET
    password = #{password}
    WHERE username = #{username}
      AND del_flag != 0
  </update>


  <update id="modify" parameterType="main.com.WCZZ.entity.Manager">
    UPDATE manager
    <trim prefix="SET" suffixOverrides=",">
      <if test="manName != null and manName != ''">
        man_name = #{manName},
      </if>
      <if test="sex != null and sex != ''">
        sex = #{sex},
      </if>
      <if test="job != null and job != ''">
        job = #{job},
      </if>
      <if test="phone != null and phone != ''">
        phone = #{phone},
      </if>
      <if test="graName != null and graName != ''">
        gra_name = #{graName}
      </if>
    </trim>
    WHERE
      man_id = #{manId}
      AND del_flag != 0
  </update>

  <update id="delete">
    UPDATE manager
    SET
    del_flag = 0
    WHERE man_id = #{manId}
  </update>


</mapper>